      <!-- THIS RENDERS BOOK RECS  -->
      <div>
      <h2>Your Recommendations:</h2>
      
       {{#each searchBooks}}  
       <div>
       <h3>{{Title}}</h3>
       
        <img src="{{Picture}}" alt="book image" width="auto">
        <button class="bookRecs" type="button" data-title="{{Title}}" data-author="{{Author}}" data-genre="{{Category}}">Add Book</button>
       <p>Author: {{Author}} </p>
       <p>Category: {{Category}}</p>
      </div>
       {{/each}} 
      </div>
      <!-- CODE ABOVE RENDERS RECS -->